.film_card {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 1em;
}

.poster {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 16px 12px -12px;
}
.poster_img {
  display: block;
  width: 90vw;
  border-radius: 0.3em;
}

.film_description {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8em;
  border-radius: 0.3em;
  background-color: #87cefa;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 16px 12px -12px;
}

.film_description p {
  margin: 0;
}

.title {
  font-weight: bold;
}

.overview {
  text-align: justify;
}

@media screen and (min-width: 1200px) {
  .film_card {
    flex-direction: row;
  }
  .poster_img {
    width: 50vw;
    max-width: 600px;
  }
}

.link_extra_container {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.link_extra {
  width: 8em;
  padding: 0.5em 0;
  display: block;
  background-color: #87cefa;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 16px 12px -12px;
}
