.film_list {
  list-style: none;
  padding: 0;
}

.film_link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.film_item:hover {
  background-color: #87cefa;
}

.film_icon {
  margin-right: 0.3em;
}
